html,
body {
  background-color: #333;
  color: white;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body,
div[data-elm-hot] {
  height: 100%;
}

button {
  font: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.button {
  background-color: white;
  border-radius: 0.25em;
  border: 0;
  font-family: 'Nunito Sans';
  padding: 0.5em 1.5em;
  font-weight: 400;
  cursor: pointer;
}

.button:hover {
  animation: wobble 800ms infinite ease-in-out;
}

@keyframes wobble {
  0% {
    transform: none;
  }

  25% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: none;
  }
}

.card__big-number {
  font-weight: 900;
  font-size: 4px;
  font-family: 'Nunito Sans', sans-serif;
}

.card__plus-number {
  font-weight: 900;
  font-size: 3px;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: -0.075em;
}

.card__small-number {
  font-weight: 900;
  font-size: 1.25px;
  font-family: 'Nunito Sans', sans-serif;
}

.card__empty-label {
  font-weight: 900;
  font-size: 1.2px;
  opacity: 0.5;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
}

.game {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 3rem;
  padding-top: 15vh;
}

.declared-color {
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -1rem);
}

.declared-color::before {
  content: 'Wild color: ';
  opacity: 0.5;
}

.play-area {
  position: relative;
  display: flex;
  gap: 2rem;
}

.card {
  max-width: 100%;
}

.deck {
  display: flex;
}

.pile {
  display: flex;
}

.hand {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;

  display: flex;
  justify-content: center;
  max-width: 800px;

  transition: transform 300ms ease-in;
  transform: translateY(50vh);
}

.hand--active {
  background: rgba(255, 255, 255, 0.35);
  animation: glow 2000ms ease-in-out infinite;
}

@keyframes glow {
  0% {
    background: rgba(255, 255, 255, 0.35);
  }

  50% {
    background: rgba(255, 255, 255, 0.15);
  }

  100% {
    background: rgba(255, 255, 255, 0.35);
  }
}

.hand--has-cards {
  transform: none;
}

.hand--bottom {
  transform: translate(-50%, 50vh);
  left: 50%;
}

.hand--has-cards.hand--bottom {
  transform: translate(-50%);
}

.hand--left {
  pointer-events: none;
  position: fixed;
  right: 50%;
  bottom: unset;
  top: 0;
  transform-origin: center;
  transform: scale(0.5) rotate(90deg) translate(80%, 20%);
}


.hand--right {
  pointer-events: none;
  position: fixed;
  left: 50%;
  bottom: unset;
  top: 0;
  transform-origin: center;
  transform: scale(0.5) rotate(-90deg) translate(-80%, 20%);
}


.hand--top {
  pointer-events: none;
  position: fixed;
  right: 50%;
  bottom: unset;
  top: 0;
  transform-origin: center;
  transform: scale(.5) translate(100%, -100%) rotate(180deg);
}

.hand .hand__card-button:not(:first-child) {
  position: relative;
  z-index: 1;
  margin-left: -3rem;
}

.hand .hand__card-button {
  max-width: 120px;
  transition: transform 300ms ease-in-out;
}

.hand .hand__card-button:hover {
  z-index: 2;
  transform: translateY(-20%);
}

.hand .card {
  width: 100%;
}

.dialog__background {
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialog__content {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__message {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 1rem;
}

.dialog__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.github-link {
  position: fixed;
  top: 2rem;
  right: 2rem;
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/github.png');

  transition: opacity 300ms ease-in-out;
}

.github-link:hover {
  opacity: 1;
}

.floating-card {
  position: fixed;
  transition: top 400ms ease-out, left 400ms ease-out, width 400ms ease-out, height 400ms ease-out;
}

.floating-card__copy {
  position: absolute;
  width: 100%;
}

.sick-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg) scale(0);

  background: #555;
  padding: 3rem;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 0 3rem rgb(100 255 195 / 75%);
  transition: transform 300ms ease-in;

  transform-origin: center;
  border-radius: 1rem;
  border: solid 3px white;
}

.sick-alert--visible {
  transform: translate(-50%, -50%) rotate(-15deg) scale(1);
}